$font-family-sans-serif: 'Raleway', sans-serif;
$primary: #42174e;
$primary-gradient: #42174e;
$primary-gradient-state: #9534b1;
$text-gradient-bg-primary: linear-gradient(310deg, #42174e, #9534b1);
$font-color: #000000;
$headings-color: $primary;
$p-font-size: 1.2rem;
$spacer: 1rem;
$headings-margin-bottom: $spacer;
$input-focus-border-color: #9534b1;
$input-focus-width: 2px;
$input-focus-box-shadow: 0 0 0 $input-focus-width #9534b1;